.windowContactInfo {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: gainsboro;
    border-bottom: 1px solid grey;
    top: 0;
}
.itemAvaBlock {
    position: relative;
}
.avaOnline {
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    border: 2px solid green;
    color: green;
    position: absolute;
    top: 50px;
    left: 52px;
    font-size: 10px;
    font-weight: 600;
    padding-left: 2px;
    box-sizing: border-box;
}
.itemAva {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    padding: 15px;
}
.windowContactName {
    align-self: center;
    font-size: 20px;
}
.messagesBody {
    height: 500px;
    overflow-y: scroll;
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
}





/*-----------------------ActiveItemMessage------------------------------------*/
.answerContainer {
    display: flex;
}
.questionBody {
    display: flex;
    justify-content: flex-end;
}
.messageBody {
    text-align: right;
}
.messageTextAnswer,
.messageTextQuestion {
    display: inline-block;
    border-radius: 18px;
    padding: 8px 10px 12px;
    margin: 20px 20px 20px 0px;
}
.messageTextAnswer {
    background-color: rgb(59, 56, 56);
    color: aliceblue;
}
.messageTextQuestion {
    background-color: rgb(196, 194, 194);
    color: #444;
}
.dateBlockAnswer,
.dateBlockQuestion {
    display: flex;
    font-size: 10px;
    color: #444;
    margin-top: -15px;
}
.dateBlockAnswer {
    margin-left: 90px;
}
.dateBlockQuestion {
   display: flex;
   justify-content: flex-end;
   margin-right: 30px;
}
.dateBlockdate {
    margin-right: 5px;
}




/*---------------------------TypeMessage--------------------*/
.typeYourMessageBlock {
    padding: 20px 15px;
    background-color: gainsboro;
    border-bottom: 1px solid grey;
    position: relative;
}
.typeYourMessageField {
    border: 1px solid grey;
    font-size: 15px;
    font-weight: 400;
    color: #444;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 18px;
}
.typeYourMessageArrow {
   border-top-right-radius: 18px;
   border-bottom-right-radius: 18px;
   padding: 14px 14px 14px 15px;
   cursor: pointer;
   position: absolute;
   right: 17px;
   top: 21px;
   background-color: #fff;
   border: none;
   border-left: 1px solid grey;
   color: rgb(59, 56, 56);
}

.typeYourMessageArrow:hover {
    background-color: gainsboro;
}

