.itemBody {
    border-bottom: 1px solid gray;
    display: flex;
    height: 80px;
    box-sizing: border-box;
    padding: 15px;
    cursor: pointer;
    color: #444;
}
.itemBody:hover {
    background-color: gainsboro;
}
.itemAvaBlock {
    position: relative;
}
.itemAva {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
}
.avaOnline {
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    border: 2px solid green;
    color: green;
    position: absolute;
    top: 35px;
    left: 38px;
    font-size: 10px;
    font-weight: 600;
    padding-left: 2px;
    box-sizing: border-box;
}
.itemNameText {
    overflow: hidden;
    text-align: left;
    padding: 0px 15px;
    flex: 1 1 auto;
}
.itemName {
    font-weight: 500;
    line-height: 1;
    padding-bottom: 5px;
}
.itemText {
    font-size: 10px;
    overflow: hidden;  
}
.itemDate {
    font-size: 12px;
    min-width: 80px;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}