h2 {
    text-align: left;
    color: rgb(35, 222, 255);
    margin: 20px 15px 30px 15px;
    font-weight: 500;
    flex: 0 0 65px;
}
.chatsInfo {
    display: flex;
}
.notificationWindow {
    flex: 1 1 auto;
    font-weight: 400;
    max-height: 44px;
    padding: 5px 10px;
    background-color: rgb(35, 222, 255);
    border-radius: 18px;
    color: #444;
    overflow: hidden;
    margin: 15px;
    visibility: hidden;
}
.searchBody {
    padding: 15px;
    background-color: gainsboro;
    border-bottom: 1px solid grey;
}
.itemAvaBlock {
    position: relative;
}
.avaOnline {
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    border: 2px solid green;
    color: green;
    position: absolute;
    top: 35px;
    left: 38px;
    font-size: 10px;
    font-weight: 600;
    padding-left: 2px;
    box-sizing: border-box;
}
.itemAva {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
}
.searchBlock {
    margin-top: 20px;
}
.search {
    border: 1px solid grey;
    font-size: 15px;
    font-weight: 400;
    color: #444;
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 18px;
    background-color: ghostwhite;
}